<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/styles2.css">
    <title>Weather App</title>
</head>
<body>
    <h1>The weather for the <%= place %> is:</h1>

    <div>
        <ul>
            <li>
                <strong>Place:</strong><%= place %><br> </li>
            <li><strong>Region:</strong><%= region %><br></li>    
             <li><strong>Temperature:</strong><%= temperature %><br></li>   
              <li> <strong>Time:</strong><%= current_time %><br></li> 
            
        </ul>
    </div>
    

</body>
</html>